/* Different header and about colour */
#about,
hr.star-light::after {
  background-color: rgb(42,82,134);
}
header,
header hr.star-light::after {
  background-color: rgb(24,41,80);
}
#portfolio .portfolio-item .portfolio-link .caption {
  background-color: rgba(42,82,134,0.8);
  border-radius: 4px;
}
.navbar-custom .navbar-nav li a:hover {
  color: rgb(82,142,234);
}
a, a.active, a:active, a:focus, a:hover {
  color: rgb(82,142,234);
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:active, 
.navbar-custom .navbar-nav li.active a:focus, 
.navbar-custom .navbar-nav li.active a:hover {
  background-color: rgb(42,82,134);
}

.btn-success {
  background-color: rgb(42,82,134);
  border-color: rgb(42,82,134);
}

/* Smaller text */
p {
  font-size: 18px;
}

/* Larger navbar */
.navbar-right {
  font-size: 16px;
}

/* Justify */
#about p {
  text-align: justify;
}

/* BW Need a different colour inside the About section and footer because its background is dark */
#about a,
#about a:hover,
#about a:focus,
#about a:active,
#about a.active,
footer a {
  color: rgb(24,188,156);
}
/* BW But that breaks the appearance of this, so override this back again */
#about .btn-outline {
  color: white;
}
/* Increase the para spacing in the about section */
#about p {
  margin: 0 0 20px;
}

/* Don't uppercase the navbar or the headers */
.navbar-custom,
.navbar-custom .navbar-toggle,
header .intro-text .name,
h2 {
  text-transform: none;
}
